$body-bg: #BB9457;

$primary: #6F1D1B;
$secondary: #BB9457;
$danger: #6F1D1B;
$success: #FFE6A7;
$warning: #99582A;
$info: aqua;
$light:#FFE6A7;
$dark:#432818;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark
) !default;
